<div class="container container-wide">
  <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('base.static', filename='images/logo-arxiv.svg') }}" class="arxiv-logo" alt="arXiv logo" width="60">
      </a>
    </div>
    <div class="col-auto">
      Status: <a href="" class="status-circle"></a> <a href="" class="status-message">All systems are go</a>
    </div>
    <div class="col-auto">
      <div class="search-container">
        <button class="search-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchSupportedContent" aria-controls="searchSupportedContent" aria-expanded="false" aria-label="Toggle search" >
          <svg width="20" height="20" fill="currentColor" role="presentation">
            <use xlink:href="{{ url_for('base.static', filename='bootstrap/bootstrap-icons.svg') }}#search"/>
          </svg>
        </button>
        <span class="search-toggled collapse collapsing" id="searchSupportedContent">{{ macros.universalsearch('Search for papers', [ ['searchtype','all'] ]) }}</span>
      </div>
      {% if request.auth and request.auth.user and request.auth.user.name %}
        Welcome <span class="has-text-weight-bold">{{ request.auth.user.name.forename }}</span> | <a href="{{ url_for('account') }}">My Account</a> | <a href="">My Feeds</a> | <a class="nav-link" href="{{ url_for('submit') }}">Submit</a> | <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
  </div>
</div>
